header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    h1 {
        color: #fff;
        font-family: 'Noto Sans Display', sans-serif;
    }
}