<header [ngStyle]="{'background-image': 'url(' + backgroundAddress + ')'}">
    <h1>NASA images searcher</h1>
</header>
<section class="container">
    <app-form 
        placeholderText="Search images..." 
        buttonText="Search"
        buttonClasses="btn btn-primary"
        (inputText)="searchInit($event)"
    >
    </app-form>
    <app-display-area [imagesList]="imagesList" [errorMessage]="errorMessage"></app-display-area>
    <div class="d-flex justify-content-center my-4">
        <app-button *ngIf="buttonStatusPrev" id="prev" [buttonClasses]="buttonClasses" [buttonText]="buttonTextPrev" (click)="openOtherPage($event)"></app-button>
        <app-button *ngIf="buttonStatusNext" id="next" [buttonClasses]="buttonClasses" [buttonText]="buttonTextNext" (click)="openOtherPage($event)"></app-button>
    </div>
</section>